
.cliked {
  background-color: rgb(255, 111, 0);
  color:rgb(0, 0, 0);
}

.unCliked {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.boxItem{
  align-items: center;
  align-content: center;
  font-size: 7vw;
  text-align: center;
  font-family: Ortica;
  top:50%;
  left:50%;
  width: 90vw;
}

.boxItem:last-child{
  margin-right: 0;
}

.boxItem > div {
  color: rgb(0, 0, 0);
}

button:hover {
cursor: pointer;
background-color: beige;
}

#filterbtn{
  /* position: fixed; */
  width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
  align-content: center;
  text-align: center;
}

.btngrid{
  display: grid;
  grid-template-columns: 10% 10% 10% ; 
  gap: 10px;
  top:50%;
  left:50%;
  width:auto;
  transform: translate(35%);


}

/* button{
  margin-right: 2px;
  background-color:transparent;
  border-color: #000000;  
  padding: 10px;
  gap: 30px;
  box-shadow: inset;
  color: rgb(0, 0, 0);
  border-radius: 30px;
} */

.btn01{
  margin-right: 2px;
  background-color:transparent;
  border-color: #000000;  
  padding: 10px;
  gap: 30px;
  box-shadow: inset;
  color: rgb(0, 0, 0);
  border-radius: 30px;
}

.filterbtnA{
  margin-right: 2px;
  background-color:transparent;
  border-color: #3fde00 ;  
  padding: 10px;
  gap: 30px;
  box-shadow: inset;
  color: rgb(0, 0, 0);
  border-radius: 30px;
}

.filterbtnS{
  margin-right: 2px;
  background-color:transparent;
  border-color: #d000ff ;  
  padding: 10px;
  gap: 30px;
  box-shadow: inset;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  stroke: 10px;
}

.filterbtnM{
  margin-right: 2px;
  background-color:transparent;
  border-color: #ff7b00 ;  
  padding: 10px;
  gap: 30px;
  box-shadow: inset;
  color: rgb(0, 0, 0);
  border-radius: 30px;
}

#itemWrapper{
  padding: 10px;
  gap: 20px;
  display:block;
  align-content: center; 
  align-items: center;
}
.tagsp{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  padding: 10px;
}

