.active {
  background-color: tomato;
}

.mynavibar{
    width: 100%;
    
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px 100px ;
}

.mynavibar a{
    font-family: 'AUTHENTIC Sans';
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: var(--anav);
  }
  
  .mynavibar a:hover{
    color: rgb(181, 181, 181);
  }

  .leftnav{
    width: 25%;
    /* display: flex; */
    float: left;
  }
  
  .rightnav{
    display: flex;
    /* overflow: hidden; */
    flex-direction: row;
    list-style-type: none;
  }

  .rightnav > a {
    margin: 0 1rem;
    overflow: hidden;
  }


.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .rightnav {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mynavibar{
    padding: 20px 30px ;
  }
  #menu-toggle ~ .rightnav a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .rightnav a {
    background-color: rgb(255, 245, 221);
    padding-top: 20px;
    height: 60px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .rightnav > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.1em 0;
    width: 100%;
    color: rgb(0, 0, 0);
  
  }
  /* .rightnav > a:not(:last-child) {
    border-bottom: 1px solid #444;
  } */
}