
* {
  padding: 0px;
  margin: 0px;
}


@font-face {
  font-family: 'Ortica';
  src: url(../Fonts/Ortica/Ortica-Bold.otf);
  src: url(../Fonts/Ortica/Ortica-Light.otf);
}

body{
  background-color: #FAF8EE;
}


.timelinemain1{
  height: 100%;
  width: auto;
  padding-top: 90px;
  padding-left: 100px;
  overflow-x: scroll;
}

.timelinemain2{
  display: none;
}

.timeline1{
  position: absolute;
  height: 80%;
}




.headerabout{
  font-family:"Ortica";
  font-size: 50px;
  position: fixed;
}

.btns{
  display:block;
  padding-top:20px;

}

.btn1{
  padding-top: 5px;
  margin-top: 170px;
}

.btn2{
  padding-top: 110px;
  margin-top: 190px;

}

.btn3{
  padding-top: 130px;
  margin-top: 190px;

}
.tagabout{
position: fixed;
border:3px solid var(--tag2color) ;
border-radius: 50px;

}

@media (max-width: 700px) {
  .timelinemain1{
    display: none;

  }
  .timelinemain2{
    display: block;
    height: auto;
    padding-top: 100px;
    justify-content: center;
  
  }
  
  .timeline1{
    display: none;
  
  }

  .timeline2{
    position:relative;
    padding-top: 120px;
    width: 100%;
  
  }
  
}
