* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'Ortica';
  src: url(../Fonts/Ortica/Ortica-Bold.otf);
  src: url(../Fonts/Ortica/Ortica-Light.otf);
}

body{
  background-color: #FAF8EE;
}


.timeline{
  position: absolute;
}